<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title></title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
</head>
<body>
<div>
    <h1>Apartados pronto</h1>
    <md-content class="md-padding">
        <form ng-submit="$event.preventDefault()">
            <p>Usar <code>md-autocomplete</code> para hacer busquedas ya sea locales o remotas :D.</p>
            <md-autocomplete
                    ng-disabled="isDisabled"
                    md-no-cache="noCache"
                    md-selected-item="selectedItem"
                    md-search-text-change="searchTextChange(searchText)"
                    md-search-text="searchText"
                    md-selected-item-change="selectedItemChange(item)"
                    md-items="item in querySearch(searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="Cual es tu estado favorito de EUA (malinchista)?">
                <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    Ninguna ocurrencia se encontro "{{searchText}}" para este dato.

                </md-not-found>
            </md-autocomplete>
            <br/>
            <md-checkbox ng-model="simulateQuery">Simularo los resukatdos de busqueda?</md-checkbox>
            <md-checkbox ng-model="noCache">Deshabiliar el catching para busquedas?</md-checkbox>
            <md-checkbox ng-model="isDisabled">Deshabilitar entradas?</md-checkbox>
            <p>Por defecto, <code>md-autocomplete</code> cacharar los resukltados antes de la bsuqueda.  Se mostraran los resutados despues.</p>
        </form>
    </md-content>
</div>

</body>
</html>
