<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
</head>
<body>

<div>



<h1>Incidencias</h1>
<br>
<!-- DATOS PRINCIPALES-->

<div class="container-fluid margen-izquierdo">                               <!-- se ajusta dependiendo el ancho de PagWeb-->
    <div class="row">                                       <!--  Introduce las filas que desee uno -->
        <div class="col-md-1">                               <!-- Asigno el ancho de Columna-->
            <md-input-container style="margin-right: 10px;">
                <label>Semana</label>
                <md-select ng-model="size">
                    <md-option ng-repeat="tamanio in tamanios" value="{{tamanio}}">{{tamanio.tamano}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <!--CALENDARIO -->
                <md-datepicker ng-model="miFechaIncidencia" md-placeholder="Selecciona una fecha"></md-datepicker>
            </div>
        </div>
        <div class="col-md-3">
            <md-input-container style="margin-right: 10px;">
                <label>Horario</label>
                <md-select ng-model="size">
                    <md-option ng-repeat="horario in horarios" value="{{horario}}">{{horario.hora}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-md-4">
            <md-input-container style="margin-right: 10px;">
                <label>Salones</label>
                <md-select ng-model="size">
                    <md-option ng-repeat="salon in salones" value="{{salon}}">{{salon.sala}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div><br>
    <div class="row" ng-model="Profe">
        <div class="cold-md-12">
            <md-content class="md-padding">
                <form ng-submit="$event.preventDefault()">
                    <md-autocomplete

                            ng-disabled="isDisabled"
                            md-no-cache="noCache"
                            md-selected-item="selectedItem"
                            md-search-text-change="searchTextChange(searchText)"
                            md-search-text="searchText"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="Cual es el nombre del Profesor?">
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            Ninguna ocurrencia se encontro "{{searchText}}" para este dato :'(

                        </md-not-found>

                    </md-autocomplete>
                    <br/>


                </form>
            </md-content>
        </div>
    </div>
</div>



<!-- DATOS DE INCIDENCIAS-->

<h2>Incidencias de Alumnos</h2>


<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox1" value="option1"> Alumnos con Bebidas
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox2" value="option2"> Alumnos con Celular
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox3" value="option3"> Alumnos con Gorra
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox4" value="option4"> Alumnos Comiendo
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox5" value="option5"> Alumnos cortando en Mesa
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox6" value="option6"> Alumnos en Redes Sociales
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox7" value="option7"> Alumnos Maquillandose
</label>
<h2>Incidencias de Profesores</h2>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox8" value="option8"> Luces Prendidas
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox9" value="option9"> Maquinas Prendidas
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox10" value="option10"> Mesa Rayada
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox11" value="option11"> Pc´s Desconectadas
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox12" value="option12"> Pierde la Llave de la Sala
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox13" value="option13"> Pizarron Sucio
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox14" value="option14"> Sala Abierta
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox15" value="option15"> Sala Desordenada
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox16" value="option16"> Sala Sucia
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox17" value="option17"> Salida Tarde
</label>
<br>
<label class="checkbox-inline">
    <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox18" value="option18"> Se lleva la Llave de la Sala
</label>
<br><br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <textarea class="form-control"  ng-model="Nupc" rows="3"  placeholder="Numeros de PC´s" style="color: #080808;font-weight: bolder"></textarea>
            <br>
        </div>
        <div class="col-md-6">
            <textarea class="form-control" ng-model="CoAl" rows="3"  placeholder="Comentario de Alumnos" style="color: #080808;font-weight: bolder"></textarea>
            <br>
        </div>
        <div class="row container-fluid">
            <div class="col-md-6">
                <textarea class="form-control" ng-model="CoPr" rows="3"  placeholder="Comentario de Profesores" style="color: #080808;font-weight: bolder"></textarea>
            </div>
            <div class="col-md-6">
                <textarea class="form-control" ng-model="ObGe" rows="3" placeholder="Observaciones Generales" style="color: #080808;font-weight: bolder"></textarea>
            </div>
        </div>
    </div>
    <br>


    <!-- PERSONAS QUE REPORTA-->
    <!-- Radio buttons materialice  -->
    <h3 class="md-headline">Personal que reporta:</h3>
 <p>Valor seleccionado: <span class="radioValue" style="color:#1b6d85">{{ reporta }}</span> </p>

    <md-radio-group ng-model="reporta">

      <md-radio-button value=" Ing. Aaron Isaias Omaña Corona" class="md-primary"> Ing. Aaron Isaias Omaña Corona</md-radio-button>
        <md-radio-button value=" Ing. Alfonso Ivan Ramirez Jimenez" class="md-primary"> Ing. Alfonso Ivan Ramirez Jimenez</md-radio-button>
        <md-radio-button value=" Lic. Cristian Parrao Rosales" class="md-primary"> Lic. Cristian Parrao Rosales</md-radio-button>
        <md-radio-button value="Ing. Daniel Salazar Aragón" class="md-primary"> Ing. Daniel Salazar Aragón</md-radio-button>
        <md-radio-button value="Ing. Eduardo Valencia Palomino" class="md-primary">Ing. Eduardo Valencia Palomino</md-radio-button>
        <md-radio-button value=" Mtra. e Ing. Elizabeth Marin Paz" class="md-primary"> Mtra. e Ing. Elizabeth Marin Paz</md-radio-button>
        <md-radio-button value="  Lic. Griselda Pineda González" class="md-primary">  Lic. Griselda Pineda González</md-radio-button>
        <md-radio-button value=" Lic. Linda Carmina Pineda González" class="md-primary"> Lic. Linda Carmina Pineda González</md-radio-button>
        <md-radio-button value=" Ing. Yesua Antonio Espinoza Garcia" class="md-primary"> Ing. Yesua Antonio Espinoza Garcia</md-radio-button>
        <md-radio-button value=" Ing. Ulises Ivan Lujan Salazar" class="md-primary"> Ing. Ulises Ivan Lujan Salazar</md-radio-button>
    </md-radio-group>

    <hr>


    <md-radio-group ng-model="data.group3">
      <md-radio-button ng-repeat="it in avatarData" ng-value="it.value" aria-label="{{it.title}}">
          <md-icon md-svg-icon="{{it.id}}"></md-icon>
      </md-radio-button>
    </md-radio-group>






    <!- --
    SE TE OLVIDO AGREGAR TODOS ESTOS ARCHIVOS DE JAVASCRIPT Y CSS QCON LOS QUE FUNCIONAL EL CALENDARIO QUE SON OOS QUE CONTIENE
    LA CARPETA BOWER_COMPONNETS es muuuy importante que estos scripts los cargues antes de invocar tu codigo  donde tienes el script de
    datatimepicker5
    -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker5').datetimepicker({
                defaultDate: "",
                disabledDates: [
                    moment("12/25/2013"),
                    new Date(2013, 11 - 1, 21),
                    "11/22/2013 00:53"
                ]
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker2').datetimepicker({
            });
        });
    </script>


</div>

<br><br><br>



<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>


    <div class="dialog-demo-content" layout="column" layout-align="center center" style="width:100%">
        <md-button class="md-primary md-raised edgePadding" ng-click="guardarIncidencia()">
            Guardar Incidencia
        </md-button>

    </div>
</div>





</body>
</html>
